[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[packages]
amqp = "==1.4.9"
anyjson = "==0.3.3"
asgiref = "==3.3.1"
billiard = "==3.3.0.23"
celery = "==3.1.26.post2"
certifi = "==2020.12.5"
cffi = "==1.10.0"
chardet = "==4.0.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
cryptography = "==1.8.1"
django = "==3.1.7"
django-annoying = "==0.10.6"
django-appconf = "==1.0.4"
django-celery = "==3.3.1"
django-cors-headers = "==3.7.0"
django-filter = "==2.4.0"
django-haystack = "==3.0"
django-pure-pagination = "==0.3.0"
django-ranged-response = "==0.2.0"
django-shortuuidfield = "==0.1.3"
django-simple-captcha = "==0.5.14"
djangorestframework = "==3.12.4"
djangorestframework-jwt = "==1.11.0"
faker = "==8.1.0"
itsdangerous = "==1.1.0"
itypes = "==1.2.0"
jieba = "==0.42.1"
jinja2 = "==2.11.3"
kombu = "==3.0.37"
markupsafe = "==1.1.1"
mysqlclient = "==2.0.3"
olefile = "==0.46"
pillow = "==4.0.0"
pyjwt = "==1.7.1"
python-dateutil = "==2.8.1"
pytz = "==2021.1"
redis = "==2.10.6"
requests = "==2.25.1"
shortuuid = "==1.0.1"
sqlparse = "==0.4.1"
supervisor = "==4.2.2"
text-unidecode = "==1.3"
uritemplate = "==3.0.1"
urllib3 = "==1.26.4"
whoosh = "==2.7.4"

[dev-packages]

[requires]
python_version = "3.6"
